<h1>Post#new_post</h1>

<div>
  
  <p><%= @post.title %></p> 

  <div>
  	<%= image_tag @post.avatar.url(:thumb) if @post.avatar? %>
  </div>
  <div>
  	<video id="myVideo" width="100" height="100" controls>
     <source src="<%= @post.video %>" type="video/mp4">
    </video>
  </div>  



</div>
