<!-- <div><h2>Delete Book:</h2></br></div>

<%= form_for @book,url: {action: :delete} do |b| %>

<div><p> Are You Sure You Want To delete this Book: <%= @book.title%></p></div>

<%end%>

<div class"submit"><%= b.submit 'Delete Book' %></div></br> -->
