<div><h2>Users:</h2></div>

  <div id="ajax">
  	
      <%= render 'index' %>
  
<div style="border: 1px solid black; height: 900px"> </div> 
  <script type="text/javascript">
	window.addEventListener('scroll',()=>{
	console.log("hello")
	
})
 
 </script>
  </div>
     




 
</div>


