<head>
	<title>Online Liberary</title>
	<style type="text/css">
		table,th,td {border: 1px solid black;}
		thead {background: #A9A9A9; color: white; }
		table {margin: auto; width: 50%;border-collapse: collapse;}
		th,td {padding:10px; text-align: center; font-size: 15px;}
		tr:hover {background:  	#8A2BE2; color:#fff;}
		.Search-form { text-align: center; }
	</style>
</head>


<body>
	<div><h2>Users:</h2></div>

 

  <div class="ajax">
      <%= render 'index' %>
  </div>
  
</body>
  
