<div><h2>Users:</h2></div>

<div><%= link_to'Add New user',new_user_path %></div></br>

<div>
   <table class="index_table">
   <thead>
      <tr>
         <th>id</th>
         <th>Name</th>
         <th> delete_status </th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody id="ajax">
      <%= render partial: 'ajax' %>
   </tbody>
   </table>
</div>
