<div id="banner">
	<div class="banner_content">
		<h1>Docs Room</h1>
		<p>Your life's work. organised always.</p>
		<%= link_to "Enter", new_user_registration_path, class: 'button' %>
	</div>

	<div id="callouts" class = "callout_inner wrapper callout">
		
	    <h2>Organise</h2>
		<p>
			Keep photos, stories, designs, drawings, recordings, videos, and more. Your first 15 GB of storage are free with a Google Account.
		</p>
	</div>

	
	</div id= "bottom_cta" class="wrapper">
	     <h2>Go Ahead!</h2><br>
	     <%= link_to "Join Now", new_user_registration_path, class: 'button' %>
    </div>
    
</div>

