// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body {
		background: #DCDCDC
	}





.form-div {	width: 25%; 
		border: 2px solid #2F4F4F;
		border-radius: 2px;
		background: #F8F8FF; 
		font-weight: bold;
		padding: 20px;
		margin: auto;

	}



.info-div {

	width: 100%;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	color: #2F4F4F;
	font-size: 20px;
	margin-bottom: 15px;
}


.input {

	padding: 5px;
	border-radius: 3px;
	border: 1px solid #b0cfe0;
	display: block;
	width: 100%;
	margin: 5px 0 12px;
}

input:focus {

	outline: none; 
}

.input-error {
	border: 1px solid red;
}

.input-focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label {
	color: #2F4F4F;

}

p {
	color:red;
	font-weight: normal;
	
	}
		
#ps,#psw2-div,#em-div,#pm-div,#un1{
					display: none;
					}

.submit_button {
	display: block;
	background: #9370DB;
	border-radius: 2px;
	color: white;
	padding: 10px 30px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 15px auto 0px;
	border: 2px solid #9370DB;

}

.submit_button:hover{
	cursor: pointer;
	color: white;
	background: #9400D3;

}